<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">GifsApp</h3>
    <hr class="text-white">

    <div class="list-group list-reset">
        <button 
            *ngFor="let tag of tags" 
            (click)="searchTag(tag)"
            class="list-group-item list-group-item-action"> 
           {{tag | titlecase}} 
        </button>

    </div>
</div>