
    <div class="card mb-2 text-center bg-dark">

<shared-lazy-image
    [url]="gif.images.downsized_medium.url"
    [alt]="gif.title || 'no title' "
></shared-lazy-image>

        <!-- <img 
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
        > -->

        <div class="card-body text-white">
            <p class="card-text">
               {{gif.title || 'No title'}}
            </p>
        </div>
    </div>

